@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    list-style:none;
    user-select:none;
}
body{
    width:100%;
    height:100%;
    font-family:'DM Sans', sans-serif;
}
a{
    text-decoration:none;
    color:inherit;
}
/* popup */
.popup{
    z-index:11;
    position: absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    margin:0 auto;
    opacity:1;
}
.popup.visible{
    overflow:hidden;
    opacity:0;
    transition:opacity 600ms ease-in-out;
}
.popup__firecracker{
    position:relative;
    top:0px;
    width:250px;
    height:250px;
    animation: bounce .7s ease infinite alternate;
}
.popup__messege{
    font-family: 'ACCchildrenheartOTF-Regular';
    color:#000;
    font-size:35px;
    font-weight:600;
    margin-bottom:30px;
}
.popup__btn{
    width:150px;
    height:56px;
    background-color: #fff;
    font-size:28px;
    font-family: 'ACCchildrenheartOTF-Regular';
    font-weight:500;
    border:2px solid #e6e6e6;
    border-radius:3px;
    transition: all .2s ease-in-out;
    cursor:pointer;
}
.popup__btn:hover{
    border:2px solid #1445cf;
    color:#fff;
    background-color:#1445cf;
}

/* header */
header{
    background-color: rgba(182, 202, 241, 0.966)
}
.header__container{
    padding:45px;
    text-align:center;
}
.title__animation span{
    position: relative;
    display:inline-block;
    top: 10px;
    color: #fff;
    font-family:'Titan One', cursive;
    font-size:40px;
    margin-bottom:15px;
    animation: jump .3s ease infinite alternate;
    text-shadow: 0 1px 0 #fed444,
                0 2px 0 #fed444,
                0 3px 0 #fed444,
                0 4px 0 #fed444,
                0 5px 0 #fed444,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(179, 179, 179, 0.4);
    -webkit-font-smoothing: antialiased;
}
.title__animation span:nth-child(1) { 
    animation-delay:.1s; 
}
.title__animation span:nth-child(2) { 
    animation-delay:.2s; 
}
.title__animation span:nth-child(3) { 
    animation-delay:.3s; 
}
.title__animation span:nth-child(4) { 
    animation-delay:.4s; 
}
.title__animation span:nth-child(5) { 
    animation-delay:.5s; 
}
.title__animation span:nth-child(6) { 
    animation-delay:.6s; 
}
.title{
    color:rgba(243, 234, 237, 0.89);
    font-family: 'Modak', cursive;
    font-size:70px;
    font-weight:400;
    margin-bottom:25px;
    text-shadow: 0 1px 0 rgb(248, 94, 197),
                0 2px 0 rgb(248, 94, 197),
                0 3px 0 rgb(248, 94, 197),
                0 4px 0 rgb(248, 94, 197),
                0 5px 0 rgb(248, 94, 197),
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(119, 119, 119, 0.4);
}
.nav{
    display:flex;
    flex-direction:column;
    justify-content:center;
    justify-items:center;
    align-items:center;
    width:100%;
    height:auto;
    padding-bottom:30px;
}
.nav ul{
    display:flex;
    text-align:center;
}
.nav ul li{
    font-family: 'ACCchildrenheartOTF-Regular';
    font-size:23px;
    font-weight: 600;
    padding:16px;
    cursor:pointer;
}
.nav ul li:nth-child(3){
    margin-right:0;
}
.nav ul li a{
    display:block;
    padding:16px;
}

/* main */
.main__container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* background-color: #fbeedc; */
    background-color: #fff;
    padding:30px 0;
}
.main__poster{
    position:relative;
    width:768px;
    height:auto;
}
.poster{
    width:100%;
}
.imoji{
    position:absolute;
    top:80px;
    left:0;
}
.poster__imoji{
    position:absolute;
    display:block;
    width:35px;
    height:35px;
    background-image: url(../assets/Partying\ Face.png);
    background-repeat:no-repeat;
    background-size:contain;
    cursor:pointer;
}
.poster__imoji:hover{
    transform:scale(1.2);
}
.imoji .poster__imoji.seoyoung{
    display:none;
    top:20px;
    left:50px;
}
.imoji .poster__imoji.soyeon{
    display:none;
    top:5px;
    left:150px;
}
.imoji .poster__imoji.jisun{
    display:none;
    top:45px;
    left:240px;
}
.imoji .poster__imoji.bada{
    display:none;
    top:10px;
    left:310px;
}
.imoji .poster__imoji.younggyeong{
    display:none;
    top:-5px;
    left:445px;
}
.imoji .poster__imoji.eunhye{
    display:none;
    top:10px;
    left:525px;
}
.imoji .poster__imoji.jimin{
    /* display:none; */
    top:40px;
    left:600px;
}
.imoji .poster__imoji.inji{
    display:none;
    top:35px;
    left:680px;
}

/* footer */
.footer__container{
    display:flex;
    justify-content:center;
    padding:13px;
}
.copyright{
    font-size:15px;
    color:#C5C5C5;
}



@keyframes bounce {
    100% {
        top:-20px;
    }
}

@keyframes jump {
    100% {
        top:-10px;
        text-shadow:0 1px 0 #fed444,
                    0 2px 0 #fed444,
                    0 3px 0 #fed444,
                    0 4px 0 #fed444,
                    0 5px 0 #fed444,
                    0 6px 0 #fed444,
                    0 7px 0 #fed444,
                    0 8px 0 #fed444,
                    0 9px 0 #fed444,
                    0 50px 25px rgba(179, 179, 179, 0.4);
    }
}
@media screen and (max-width:786px){
    /* header */
    .header__container{
        padding:28px;
    }
    .title__animation span{
        font-size:28px;
    }
    .title{
        font-size:55px;
        margin-bottom:0;
    }
    
    /* nav */
    .nav{
        padding-bottom:10px;
    }
    .nav ul{
        display:grid;
        justify-items:center;
        grid-template-columns:repeat(2, 1fr);
        column-gap:20px;
        row-gap:15px;
    }
    .nav ul li{
        font-size:20px;
        margin-right:0;
        /* margin-right:25px; */
    }
    .main__poster{
        width:530px;
    }
    .imoji{
        top:45px;
    }
    .poster__imoji{
        width:25px;
        height:25px;
    }
    .imoji .poster__imoji.seoyoung{
        display:none;
        top:20px;
        left:50px;
    }
    .imoji .poster__imoji.soyeon{
        display:none;
        top:10px;
        left:105px;
    }
    .imoji .poster__imoji.jisun{
        display:none;
        top:40px;
        left:165px;
    }
    .imoji .poster__imoji.bada{
        display:none;
        top:20px;
        left:215px;
    }
    .imoji .poster__imoji.younggyeong{
        display:none;
        top:5px;
        left:310px;
    }
    .imoji .poster__imoji.eunhye{
        display:none;
        top:10px;
        left:525px;
    }
    .imoji .poster__imoji.jimin{
        /* display:none; */
        top:40px;
        left:415px;
    }
    .imoji .poster__imoji.inji{
        display:none;
        top:35px;
        left:680px;
    }
    
    .copyright{
        font-size:13px;
    }

}
@media screen and (max-width:480px){
    .main__poster{
        width:400px;
    }
    .imoji{
        top:25px;
    }
    .poster__imoji{
        width:20px;
        height:20px;
    }
    .imoji .poster__imoji.seoyoung{
        display:none;
        top:20px;
        left:50px;
    }
    .imoji .poster__imoji.soyeon{
        display:none;
        top:15px;
        left:75px;
    }
    .imoji .poster__imoji.jisun{
        display:none;
        top:35px;
        left:125px;
    }
    .imoji .poster__imoji.bada{
        display:none;
        top:20px;
        left:165px;
    }
    .imoji .poster__imoji.younggyeong{
        top:10px;
        left:230px;
    }
    .imoji .poster__imoji.eunhye{
        display:none;
        top:10px;
        left:525px;
    }
    .imoji .poster__imoji.jimin{
        top:35px;
        left:310px;
    }
    .imoji .poster__imoji.inji{
        display:none;
        top:35px;
        left:680px;
    }
}